body {
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
}

header {
	min-height: 100vh
}

header article {

	/* CENTER HORIZONTALLY & VERTICALLY: */
	position: absolute;
	width: 100%;
	height: auto;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    	transform: translate(-50%, -50%);

}

header article h1 {
	font-size: 6rem;
	letter-spacing: 1.3rem;
	text-shadow: 20px 20px 8px rgba(0, 0, 0, 0.5);
}

header article h2 {
	font-size: 4rem;
	text-shadow: 9px 9px 8px rgba(0, 0, 0, 0.5);
}

#video-background {
/*  making the video fullscreen  */
	position: fixed;
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100vh;
	width: auto; 
	height: auto;
	z-index: -100;

	/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
	background: url(../img/tropical.jpg);
	background-attachment: fixed;
	background-size: cover;

}

.btn-enter {
	border: 5px white solid;
}

.section-header {
	padding-top: 70px;
}

#proficiencies,
#ui-ux,
#javascript,
#certifications,
#about {
	min-height: 100vh;
}

#proficiencies {
	background-color: #000;
}

#javascript {
	background-color: #0a290a;
}

#ui-ux {
	background-color: #fff;
}

#certifications {
	background-color: #190D01;
}

#about {
	background-color: #fff;
}

#connect {
	background-color: #555;
	min-height: 50vh;
}

.footer {
	background-color: #000;
}